
#f{
    display: inline;
     width: 460px;
    height: 500px;
    margin-left: 20px;
    border: 7px solid  #cb5425;
    background-color:rgba(102, 41, 11, 0.325);
    border-radius: 15px;
}
button{
    display: inline;
    transition: 0.8s;
}


body{
  background-size: cover;
  background-image: url("aesthetic-leaf-watercolor-background-orange-autumn-season.jpg");
}


h1 {
  font-family: "Verdana";
  font-weight: 1000;
  color: #fefdfd;
  text-align: center;
  font-size: 58px;
}



.button:hover {
  transform: translateY(-10px);
  box-shadow: #260f02 0 0.4em 2em 0em;
 }
 
h2{

  color: rgb(255, 255, 255);
  font-size: 45px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}
  





